.clear {
  clear: both;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #EEEEEE;
  padding: 5px;
}

header .button {
  width: 72px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 12px;
}

header .searchButton {
}

header .addButton {
}

header .searchBox {
  flex-grow: 2;
}

.searchBox input {
  font-size: 24pt;
  width: 100%;
}

.searchResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result {
}

.addImage {
  margin: 5px;
  padding: 10px;
}

.addImage .imageInfo {
  width: 25%;
  float: left;
}

.addImage .imageInfo .title {
  display: block;
  margin-top: 10px;
}

.addImage .imageInfo textarea {
  width: 90%;
}

.addImage .imageUpload {
  float: left;
  border: 2px dashed gray;
  width: 65%;
  text-align: center;
  padding: 50px;
}

.addImage .submit {
  clear: both;
  text-align: center;
}

.viewImage {
  margin: 5px;
  padding: 10px;
}

.viewImage .imageInfo {
  width: 25%;
  float: left;
}

.viewImage .imageInfo .description {
  display: block;
  padding: 10px;
}

.viewImage .imageInfo .tags {
  padding: 10px;
}

.viewImage .imageInfo .tags .tag {
  display: inline-block;
  margin: 5px;
}

.viewImage .image {
  float: left;
}
