body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

.clear {
  clear: both;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 3px solid #ffcb00;
  background-color: #4fb3e8;
}

header .logo {
}

header .logo img {
  width: 275px;
  height: 80px;
}

header .button {
}

header .searchButton {
  flex-grow: 2;
  margin: 49px 30px 0px 30px;
  text-align: right;
}

header .searchButton a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 2px #9b9b9b;
}

header .searchButton a:hover {
  color: #ffcb00;
}

header .addButton {
  padding-top: 10px;
}

header .addButton a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 2px #9b9b9b;
}

header .addButton a:hover {
  color: #ffcb00;
}

header .searchBox {
  margin: 49px 30px 0px 30px;
  flex-grow: 2;
  text-align: right;
}

.searchBox input {
  font-size: 24pt;
  width: 100%;
}

.searchBox input:focus {
  border: 3px solid #ffcb00;
  outline: none;
}

.searchResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.noResults {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.searchResult img {
  width: 20vw;
  height: 20vw;
}

.addImage {
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

.addImage .imageInfo {
  flex: 1 auto;
}

.addImage .imageInfo .title {
  display: block;
  margin-top: 10px;
}

.addImage .imageInfo textarea {
  width: 90%;
}

.addImage .imageUpload {
  flex: 3 auto;
  border: 2px dashed gray;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addImage .imageUpload input {
  width: 200px;
  margin: 20px;
}

.addImage .submit {
  flex: 1 100%;
  text-align: center;
  padding: 20px;
}

.viewImage {
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.viewImage .imageInfo {
  width: 25%;
}

.viewImage .imageInfo .description {
  display: block;
  padding: 10px;
}

.viewImage .imageInfo .tags {
  padding: 10px;
}

.viewImage .imageInfo .tags .tag {
  display: inline-block;
  margin: 5px;
}

.viewImage .image {
}
